<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <a href="#mainContent" class="skip-to-main-content-link">Skip to main content</a>
    <div id="center">
      <div id="mainWrapper">
        {{ partial "navigation.html" . }}
        <div id="middle">
          {{ if not .IsHome }}
          <div id="meta">
            <h1>{{ .Title }}</h1>
            <p>
              {{ .Params.desc }}
              <br>
              ⏲ Published at
              {{ .Lastmod | time.Format "2006/01/02" }}{{ if .Params.edit_date }},
              last updated at
              {{ .Params.edit_date  | time.Format "2006/01/02" }}{{ end }}
            </p>
            <hr>
          </div>
          {{ end }}
          <div id="mainContent">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
        <div class="sticky sidebar">
          {{ .TableOfContents }}
        </div>
      </div>
    </div>
  </body>
</html>