{{ $featuredPosts := where .Site.RegularPages "Params.noindex" "ne" true }}
{{ $featuredPosts := where $featuredPosts "Params.featured" "eq" true }}
{{ if $featuredPosts }}
<ul class="hiddenDecoration">
  {{ range first 3 $featuredPosts }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{end}}
</ul>
{{ end }}